body {
	background: #121212;
	color: #fff;
	font-family: "Poppins", sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

header {
	padding: 20px;
}

button {
	background: #1db954;
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	cursor: pointer;
}

#visualisation svg {
	margin-top: 20px;
}

#search-section {
	margin: 20px;
	text-align: center;
}

#search-results {
	display: fkex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
}

.track-result {
	background: #f0f0f0;
	border-radius: 8px;
	padding: 10px;
	text-align: center;
	width: 150px;
	cursor: pointer;
	transition: transform 0.2s;
}

.track-result:hover {
	transform: scale(1.05);
	background: #e0e0e0;
}